<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gemini.init"
    android:versionCode="4"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/blank">
        <service android:name=".InitService" android:label="Init Service">
            <intent-filter>
                <action android:name=".InitService" />
            </intent-filter>
        </service>

        <receiver android:name=".BootReceiver"
            android:label="BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ActivateInitActivity"
            android:label="Activate Init"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".ActivateInitActivity" />
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
